.volume-knob-main-container{
  border-radius: 12px;
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
  position: relative;
  width: 100%;
}
.volume-knob-container {
  user-select: none;
  text-align: center;
  touch-action: manipulation;
  /* position: relative; */
  width: fit-content;
  margin: auto;
}

.knob-surround {
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 10px;
  background: transparent;
  transform: translateY(-4px);
}

.knob-top {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #181818;
  background: linear-gradient(to top, #1d1d1d, #131313);
  box-shadow: 
    0 0.3em 0.2em 0.1em rgba(255, 255, 255, 0.1) inset,
    0 -0.3em 0.2em 0.1em rgba(0, 0, 0, 0.5) inset,
    0 0.4em 0.8em rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.knob-surround:active {
  transform: translateY(-2px);
}

.knob-surround:active .knob-top {
  transform: translateY(2px);
  box-shadow: 
    0 0.3em 0.2em 0.1em rgba(255, 255, 255, 0.1) inset,
    0 -0.3em 0.2em 0.1em rgba(0, 0, 0, 0.5) inset,
    0 0.2em 0.4em rgba(0, 0, 0, 0.4);
}

.knob {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(0deg);
  z-index: 10;
}

.knob::before {
  content: "";
  position: absolute;
  bottom: 19%;
  left: 19%;
  width: 6%;
  height: 6%;
  background-color: #b0b0b0;  
  border-radius: 50%;  
}

.knob-bottom {
  position: absolute;
  z-index: 1;
  bottom: 6px;
  left: 4px;
  border-radius: 50%;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: #181818;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.6),
    inset 0 -2px 5px 3px rgba(0, 0, 0, .4);
  transition: transform 0.2s ease;
}

.knob-surround:active .knob-bottom {
  transform: translateY(2px);
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.6),
    inset 0 -2px 5px 3px rgba(0, 0, 0, .4);
}

.knob-base {
  position: absolute;
  z-index: 0;
  top: 8px;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, .25);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.volume-labels{
  position: absolute;
  width: 100%;
  height: 0.1em;  
  bottom: 1.5em;
}
.min,
.max {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  position: absolute;
  opacity: 0.5;
  z-index: 3;
}

.min {
  left: 15%;
}

.max {
  right: 15%;  
}