
@keyframes blink {
  0%,49% { border-right-color: transparent }
  50%,100% { border-right-color: currentColor }
}

@keyframes scan {
  0% { background-position: 0 -100vh; }
  35%,100% { background-position: 0 100vh; }
}

body {
  margin: 0;  
}
.App {
  background-color: #121;
  min-height: 100vh;
  display: flex;
}

section {
  border-radius: 1em;
  background-color: #131;
  background-image: 
    radial-gradient(ellipse 500% 100% at 50% 90%, transparent, #121);
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2em;
  box-shadow: inset 0 0 10em 1em rgba(0,0,0,0.5);
  overflow: auto;
  color: rgba(128,255,128,0.8);
  position: relative;
}

section::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: linear-gradient(0deg,
    transparent 0%,
    rgba(32,128,32,0.2) 2%,
    rgba(32,128,32,0.8) 3%,
    rgba(32,128,32,0.2) 3%,
    transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

section::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image:    
    radial-gradient(ellipse 200% 20% at 50% 0%, rgba(0,0,0,0.5), transparent);
  background-size: 100%, 100%, 100%, 100%, 100%, 100% 0.25ch;
}

.text-q {
  border-right: 0 solid currentColor;
  animation: blink var(--blink-time) linear 0s infinite;
  text-shadow: 0 0 0.5ex #3f3, 0 0 1px rgba(255,255,255,0.5);
  display: block; 
}

.text-q-content::before {
  content: "> ";
}

/* section .text-q:last-child {
  border-right-width: 1ch;
} */
.text-q-click:hover {
  color: #18580b;  
  font-weight: bold;
  background-color: #00ff00;
  cursor: pointer;
}

