@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
  font-family: "VT323", monospace;
  font-weight: 400;
  --main-green: #7aff60;
  --dark-green: #18580b;  
  /* scrollbar-color: var(--main-green) var(--dark-green);
  scrollbar-width: thin; */
  /* font-size: clamp(18px, 3vw, 30px); */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0px;
}
