@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
  --main-green: #7aff60;
  --dark-green: #126B12;    
  --display-height: 100vh;
  --blink-time: 500ms;
  scrollbar-color: var(--main-green) var(--dark-green);
  scrollbar-width: thin;  
  /* font-size: clamp(18px, 3vw, 30px); */
}

.scroll{
  scrollbar-color: var(--main-green) var(--dark-green);
  scrollbar-width: thin;  
}
* {
  font-family: "VT323", monospace;  
  font-weight: 400;
  margin: 0px;
  box-sizing: border-box;
}

